# INSTRUCTIONS
#
# - Copy this file into /.env
# - Get keys from 1Password or Google Cloud Console

GOOGLE_ACCESS_KEY_ID=GOOG1E...
GOOGLE_ACCESS_KEY_SECRET=...
GOOGLE_APPLICATION_CREDENTIALS=./secrets/gcp-key.json  # Need to make a secure directory and place your GCP key file here

GCS_BUCKET=example-gcp-project
GCP_PROJECT=example-legacy-project

MODAL_TOKEN_ID=...
MODAL_TOKEN_SECRET=...
MODAL_IMAGE_BUILDER_VERSION=2025.06
MODAL_ENVIRONMENT=AutoDiscovery

OPENAI_API_KEY=...
